/*Create the CSS statement that changes the first paragraph tag in the html page to red*/
#paragraphs :first-child{
    color: red;
}

/*Write a CSS statement that changes the last item in the list to a blue colour */
ol :last-child{
    color: blue;
}